* {
    background-color: #f7ede3;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #84a59e;

}
.score-board {
    /* border: 2px solid darkred; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.badge {
    /* border: 3px solid darkblue; */
    margin: 5px;
}
button {
  background-color: #f28582;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 87px;
}

button:hover,
button:focus {
  background-color: #f5cac2;
}